body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}



.right {
  clear: both;
  background-color: rgb(228, 238, 111);
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  right: 25px;
  width: 324px;
}

#chat-window {
  position: absolute;
  bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 25px;
  height: 100%;
  top: 0px;
  right: 25px;
}

#chat-input {
  clear: both;
  bottom: 0px;
  position: absolute;
}

#message-box {
  border-radius: 15px;
}

#messageWindowId {
  position: absolute;
  bottom: 50px;
  resize: none;
  width:100%;
  /* height: 100%; */
  overflow-y: scroll;
  padding:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color:#b0c4de;
  top: 20px;
}

