body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}



.right {
  clear: both;
  background-color: rgb(228, 238, 111);
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  right: 25px;
  width: 324px;
}



#message-box {
  border-radius: 15px;
}